<h1>Main#login</h1>

<%= form_with url: main_create_path ,data: {turbo: false} do |form| %>
    <p>
        <%= form.label :login, class: 'form-label' %>
        <%= form.text_field :login, class: 'form-control' %>
    </p>
    <p>
        <%= form.label :password, class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control' %> 
    </p>
    <%= form.submit :OK, class: 'btn btn-primary' %>
    <br>
<%end%>

<div class='row'>
    <div class='col'>
        <p>A</p>
    </div>
    <div class='col'>
        <p>B</p>
    </div>
    <div class='col'>
        <p>C</p>
    </div>
</div>
<div class='row'>
    <div class='col-1'>
        A1
    </div>
    <div class='col-5'>
        A5
    </div>
    <div class='col-4'>
        A4
    </div>
</div>